@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap');

/* 
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; 
#111
#f8f8f8
#e6ac65
*/

/******************* 공통사항 ********************/
html, body {font-family: 'Roboto', sans-serif; overflow-x: hidden;}
h1, h2, h3, h4, h5, .rc, button {font-family: 'Roboto Condensed', sans-serif; font-weight: bold;}
.pointer {cursor: pointer;}
.wrapper {max-width: 1200px; margin: auto; padding: 5rem 1%; position: relative;}
.bt-yellow {background-color: #e7b35a; color: #fff; padding: 0.75rem 1.25rem; border: none; cursor: pointer;}
.bt-yellow:hover {background-color: #97753a;}
.bookmark-bar {color: #e7b35a; font-size: 2rem; display: flex; justify-content: center; align-items: center; margin: 1rem 0 4rem 0;}
.bookmark-bar .fa {margin: 0 1rem;}
.bookmark-bar::before,
.bookmark-bar::after {width: 50px; height: 4px; background-color: #e7b35a; display: block; content: "";}
.bt-top {background-color: rgba(0,0,0,0.3); color: #fff; font-size: 1.25rem; width: 50px; height: 50px; display: flex; justify-content: center; align-items: center; position: fixed; right: 40px; bottom: 40px; cursor: pointer; transition: all 0.5s;}
.bt-top:hover {background-color: rgba(0,0,0,0.7);}

/******************* header ********************/
.header {width: 100%; display: flex; justify-content: center; align-items: center; background-color: #111; color: #f8f8f8; font-size: 1.25rem; padding: 1rem; position: absolute; bottom: 0; z-index: 999;}
.header > .navi, .header > .logo {margin: 0 1rem; cursor: pointer;}
.header > .navi::after {display: block; content: ""; height: 2px; background-color: #e6ac65; transform: translateY(28px); opacity: 0; transition: all 0.5s;}
.header > .navi:hover::after {transform: translateY(0); opacity: 1;}
.header > .navi-bars {width: 24px; height: 19px; display: none; flex-direction: column; justify-content: space-between; cursor: pointer;}
.header > .navi-bars > .bar {width: 100%; height: 3px; background-color: #f1f1f1; transition: all 0.5s;}
.header > .navi-bars:hover > .bar:first-child {transform: translateY(3px);}
.header > .navi-bars:hover > .bar:last-child {transform: translateY(-3px);}

.header > .navi-mo {width: 100%; height: 100vh; background-color: transparent; position: fixed; left: 0; top: 0; transition: all 0.5s; display: none;}
.header > .navi-mo .navi-wing {width: 320px; height: 100%; background-color: #fff; position: absolute; transition: all 0.5s; right: -320px; top: 0; padding: 1rem;}
.header > .navi-mo .bt-close {text-align: right;}
.header > .navi-mo .bt-close > .fa {width: 32px; height: 32px; text-align: center; line-height: 32px; background-color: #e6ac65; color: #fff; cursor: pointer;}
.header > .navi-mo .navi {padding: 1.25rem 0.75rem; color: #333; border-bottom: 1px solid #eee; cursor: pointer;}
.header > .navi-mo .navi:hover {color: #e6ac65;}


/******************* .main-wrap ********************/
.main-wrap {width: 100%; height: 100vh; position: relative; overflow: hidden;}
.main-wrap .banner {width: 100%; height: 100%; position: absolute; background-position: center; background-repeat: no-repeat; background-size: cover; transition: all 0.5s;}
.main-wrap > .banner1 {background-image: url(../img/c-sl-000.jpg);}
.main-wrap > .banner2 {background-image: url(../img/c-sl-004.jpg);}
.main-wrap > .banner3 {background-image: url(../img/c-sl-005.jpg);}
.main-wrap .slogans {width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 890; display: flex; flex-direction: column; justify-content: center; align-items: center; color: #fff; background-color: rgba(0,0,0,0.4);}
.main-wrap .symbol {width: 20vw; margin-bottom: 1rem;}
.main-wrap .slogan {font-size: 4vw; text-align: center; margin-bottom: 1rem; 
	transition: all 0.5s; transform: scale(1); opacity: 1;}
.main-wrap .writer {font-size: 1.5vw; color: #f7ba4a; transition: all 0.5s; 
	transform: translateY(0); opacity: 1;}

.main-wrap .bt {font-size: 7rem; color: #fff; position: absolute; top: 50%; transform: translateY(-50%); z-index: 900; opacity: 0.3; cursor: pointer; transition: all 0.5s;}
.main-wrap .bt:hover {opacity: 0.8;}
.main-wrap .bt.bt-prev {left: 2rem;}
.main-wrap .bt.bt-next {right: 2rem;}
.main-wrap .bt.bt-prev::after {content: '〈'; display: block;}
.main-wrap .bt.bt-next::after {content: '〉'; display: block;}

/******************* .about-wrap ********************/
.about-wrap {display: flex; justify-content: space-between;}
.about-wrap > div {flex: 48% 0 0;}
.about-wrap .photos {display: flex; justify-content: space-between;}
.about-wrap .photos > div {flex: 48% 0 0;}
.about-wrap .photos > .photo-lt {display: flex; flex-direction: column; justify-content: space-between;}
.about-wrap .conts {display: flex; flex-direction: column; justify-content: center; text-align: center;}
.about-wrap .title {color: #222; margin-bottom: 1.5rem;}
.about-wrap .cont {color: #999; line-height: 1.75rem; margin-bottom: 1.5rem;}
.about-wrap .bt-yellow {font-size: 1.125rem;} 

/******************* .loc-wrap ********************/
.loc-wrap {position: relative; background-image: url(../img/c-sl-005.jpg); background-size: cover;background-position-x: center;}
.loc-wrap::before {display: block; width: 100%; height: 100%; content: ""; background-color: rgba(0,0,0,0.4); position: absolute;}
.loc-wrap .title {font-size: 3rem; color: #fff; text-align: center;}
.loc-wrap .store-wrap {display: flex; justify-content: space-between;}
.loc-wrap .store {flex: 32% 0 0; background-color: #fff; padding: 1.75rem;}
.loc-wrap .store > .photo {background-color: #e6ac65; cursor: pointer;}
.loc-wrap .store > .photo > img {transition: all 0.5s;}
.loc-wrap .store > .photo:hover > img {opacity: 0.6;}
.loc-wrap .store > .cont {line-height: 1.75; color: #999; margin: 1.25rem 0;}
.loc-wrap .store > div:not(.photo) {color: #333; padding: 0.5rem 0;}
.loc-wrap .store > .bt-map {margin-top: 1.5rem;}
.loc-wrap .store i.fa {width: 2rem;}

/******************* .special-wrap ********************/
.special-wrap .title {font-size: 3rem; color: #333; text-align: center;}
.prd-wrapper {position: relative;}
.prd-wrapper .bt {color: #e7b35a; font-size: 2.5em; cursor: pointer; position: absolute; z-index: 800; top: 50%; transform: translateY(-50%); transition: all 0.5s;}
.prd-wrapper .bt.bt-left {left: -0.75em;}
.prd-wrapper .bt.bt-right {right: -0.75em;}
.prd-stage {width: 100%; position: relative; overflow: hidden;}
.prd-stage .prd-wrap {width: 150%; position: relative; left: -25%; display: flex;}
.prd-stage .prd {flex: 16.6667% 0 0; padding: 1em; font-family: 'Roboto Condensed', sans-serif; font-size: 1rem; font-weight: bold; text-align: center;}
.prd-stage .prd-img {border-radius: 50%; overflow: hidden; background-color: #e7b35a; cursor: pointer;}
.prd-stage .prd-img img {transition: all 0.5s;}
.prd-stage .prd-img:hover img {opacity: 0.6;}
.prd-stage .prd-title {font-size: 1.5em; color: #333; padding: 0.75em 0 0.25em 0;}
.prd-stage .prd-price {font-size: 1.25em; color: #e7b35a;}

/******************* .menu-wrap ********************/
.menu-wrap h2.title {font-size: 3rem; color: #333; text-align: center;}
.menu-wrap .menus {display: flex; flex-wrap: wrap; width: 102%; margin-left: -1%;}
.menu-wrap .menu {flex: 31.3333% 0 0; margin: 0 1%; padding: 1.5rem 0; border-bottom: 1px dashed #999;}
.menu-wrap .menu-img {width: 80px; border-radius: 50%; overflow: hidden; float: left; margin-right: 20px; background-color: #e7b35a; cursor: pointer;}
.menu-wrap .menu-img > img {transition: all 0.5s;}
.menu-wrap .menu-img:hover > img {opacity: 0.6;}
.menu-wrap .menu-title {padding-top: 1rem;}
.menu-wrap .menu-price {color: #e7b35a;}

/******************* .notice-wrap ********************/
.notice-wrap h2.title {font-size: 3rem; color: #333; text-align: center;}
.notice-wrap {position: relative;}
.notice-wrap .news-wrapper {position: relative;}
.notice-wrap .bt {color: #e7b35a; font-size: 2.5em; cursor: pointer; position: absolute; z-index: 800; top: 50%; transform: translateY(-50%); transition: all 0.5s;}
.notice-wrap .bt.bt-left {left: -0.25em;}
.notice-wrap .bt.bt-right {right: -0.25em;}
.notice-wrap .news-stage {width: 100%; position: relative;  overflow: hidden;}
.notice-wrap .news-wrap {width: 166.6666%; position: relative; left: -33.3333%; display: flex;}
.notice-wrap .news {flex: 18% 0 0; margin: 0 1%; padding: 1.5em; font-size: 1rem; background-color: #eee;}
.notice-wrap .news-img {position: relative;}
.notice-wrap .badge-tag {position: absolute; top: 1em; left: 1em; color: #fff; font-size: 0.75em; display: flex; flex-direction: column; align-items: flex-start;}
.notice-wrap .badge-tag .badge {padding: 0.325em 0.5em; background-color: rgba(0,0,0,0.6); margin-bottom: 0.5em;}
.notice-wrap .badge-date {width: 65px; height: 65px; position: absolute; top: 1em; right: 1em; background-color: #fff; border-radius: 50%; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.notice-wrap .badge-date .month {border-bottom: 3px solid #e7b35a; font-weight: lighter; font-size: 0.875em;}
.notice-wrap .badge-date .day {font-size: 1.5em;}
.notice-wrap .news-title {margin-top: 0.75em; font-size: 1.75em; color: #333; line-height: 1.5; font-family: 'Roboto Condensed', sans-serif; font-weight: bold; cursor: pointer; transition: all 0.5s;}
.notice-wrap .news-title:hover {color: #e6ac65;}
.notice-wrap .news-tag {color: #888; font-size: 0.75em; font-weight: lighter; padding: 1em 0; line-height: 1.5;}
.notice-wrap .news-tag .tag:not(:last-child)::after {content: ""; display: inline-block; margin: 0 8px 2px 8px; width: 4px; height: 4px; background-color: #888; border-radius: 2px;}
.notice-wrap .news-cont {font-size: 1em; line-height: 1.75; color: #666; margin: 0.5em 0;}
.notice-wrap button {border: none; outline: none; margin-top: 1em; cursor: pointer; padding: 0.5em 0;}
.notice-wrap button > span {font-size: 0.5em;}
.notice-wrap button::after {display: block; content: ""; height: 3px; background-color: #e6ac65; transform: translateY(8px); width: 0; transition: all 0.5s;}
.notice-wrap button:hover::after {width: 100%;}

/******************* .press-wrap ********************/
.press-wrap {position: relative; background-image: url(../img/c-sl-011.jpg); background-size: cover;background-position-x: center;}
.press-wrap::before {display: block; width: 100%; height: 100%; content: ""; background-color: rgba(0,0,0,0.4); position: absolute;}
.press-wrap .title {font-size: 3rem; color: #fff; text-align: center;}
.press-wrap .press-ul {display: flex; justify-content: space-between; flex-wrap: wrap;}
.press-wrap .press {flex: 23% 0 0; background-color: #f8f8f8; text-align: center; padding: 2.5em 1.5em; font-size: 1rem;}
.press-wrap .logo {margin-bottom: 2em;}
.press-wrap .cont {color: #999; line-height: 1.75; margin-bottom: 2em;}
.press-wrap .writer {color: #333; font-family: 'Roboto Condensed', sans-serif; font-weight: bold; font-size: 1.25em;}

/******************* footer ********************/
.footer-wrap {background-color: #141414; color: #fff; font-family: 'Roboto Condensed', sans-serif; font-weight: bold;}
.footer-wrap .wrapper {padding: 5rem; text-align: center;}
.footer-wrap .footer-info {display: flex; flex-wrap: wrap; margin: 3rem 0;}
.footer-wrap .info {flex: 33.3333%; padding: 1em; font-size: 1rem;}
.footer-wrap .footer-sns {display: flex; justify-content: center; margin: 3rem 0;}
.footer-wrap .sns {width: 30px; height: 30px; background-color: #e7b35a; display: flex; justify-content: center; align-items: center; border-radius: 50%; margin: 0 0.25em; transition: all 0.5s; cursor: pointer;}
.footer-wrap .sns:hover {background-color: #fff; color: #e7b35a;}
.footer-wrap .copyright {color: #eee;}


/******************* 지도 모달창 ********************/
.modal-map {width: 100%; height: 100vh; background-color: rgba(0,0,0,0.8); position: fixed; top: 0; left: 0; z-index: 10000; display: none; justify-content: center; align-items: center;}
.modal-map > button {width: 60px; height: 60px; border: none; background-color: #721e11; color: #fff; font-size: 2rem; display: flex; justify-content: center; align-items: center; position: absolute; top: 0; right: 0; cursor: pointer;}
.modal-map > .modal-wrap {width: 70%; height: 70vh; background-color: #fff;}
.modal-map > .modal-wrap > .modal-body {width: 100%; height: 100%;}
.modal-map #map {width: 100%; height: 100%;}





/******************* 반응형 ********************/
@media screen and (max-width: 1600px) {
	.loc-wrap {background-size: auto 120%;}
}

@media screen and (max-width: 991px) {
	/* 768 ~ 991 */
	.wrapper {padding: 5rem 2%;}
	.header {justify-content: space-between; padding: 1rem 2rem;}
	.header > .navi {display: none;}
	.header > .navi-bars {display: flex;}
	.about-wrap {display: block;}
	.about-wrap > .photos {width: 60%; margin: 0 auto 2rem auto;}
	.loc-wrap .store-wrap {display: block;}
	.loc-wrap .store {width: 70%; margin: 2% auto;}
	.prd-stage .prd-wrap {width: 166.6666%; left: -33.3333%;}
	.prd-stage .prd {flex: 20% 0 0;}
	.news-stage .news-wrap {width: 200%; left: -50%;}
	.news-stage .news {flex: 23% 0 0;}
	.menu-wrap .menus {width: 100%; margin-left: 0;}
	.menu-wrap .menu {flex: 100% 0 0; margin: 0;}
	.menu-wrap .menu-img {width: 200px;}
	.menu-wrap .menu-title {padding-top: 5rem;}
	.press-wrap .press {flex: 47% 0 0; margin-bottom: 6%;}
}

@media screen and (max-width: 767px) {
	/* 480 ~ 767 */
	.wrapper {padding: 5rem 3%;}
	.about-wrap > .photos {display: none;}
	.loc-wrap .store {width: 90%; margin: 2% auto;}
	.prd-stage .prd-wrap {width: 200%; left: -50%;}
	.prd-stage .prd {flex: 25% 0 0;}
	.news-stage .news-wrap {width: 300%; left: -100%;}
	.news-stage .news {flex: 31.3333% 0 0;}
	.press-wrap .press {flex: 100% 0 0;}
	.footer-wrap .info {flex: 100%;}
}

@media screen and (max-width: 479px) {
	/* 0 ~ 479 */
	.prd-stage .prd-wrap {width: 300%; left: -100%;}
	.prd-stage .prd {flex: 33.3333% 0 0;}
}

/*
150% -25%
16.6667%

166.6666% -33.3333%
20%

200% -50%
25%

300% -100%
33.3333%
*/